@charset "UTF-8";

*{
    font-family:Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
	background-color: #242933;
    color: rgb(169, 169, 169);
    font-family:Arial, Helvetica, sans-serif;
    font-size: medium;
    }

.middle_div {
    background-color: #2f3644;
    border-color: rgb(184, 196, 204);
    border-style: solid;
    border-width: 1px;
    border-radius: 3px; 
    position: relative;
    padding: 3%;
    left: 35%;
    width: 30%;
    display: flex;
    flex-wrap: wrap;    
}

input{
    width: 100%;
    padding: 15px 30px 0 0;
    margin: 5px 0 22px 0;
    border-radius: 3px;
    border: none;
}

.input-error{
    background-image: url(images/error-icon.svg);
    background-repeat: no-repeat;
    background-position: 95% 50%;
    border: solid red;
}

.input-success{
    background-image: url(images/success-icon.svg);
    background-repeat: no-repeat;
    background-position: 95% 50%;
    border: solid green;
}
    
.error-message{
    color: #b83d3d;
    font-weight: bold;
    font-size: small;
}

.registerbtn {
    background-color: #8657cc;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: solid black;
    cursor: pointer;
    display: flex;
    justify-content: center;
    width: 100%;
    opacity: 0.9;
}
  
.registerbtn:hover {
    opacity:1;
  }

  
fieldset{
    border: none;
    width: 100%;
}

h2{
    font-size: xx-large;
    text-align: center;
    width: 100%;
}

